@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Inter:wght@400;500;600;700&display=swap');


body {
  background-color: #E7F6FF;
}

* {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.wrapper {
  background: #FFFFFF;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  max-width: 1080px;
  margin: 50px auto;
}

header {
  border-bottom: 1px solid #eaeaea;

  .headerInfo {
    h3 {
      margin: 0;
    }

    p {
      margin: 0;
    }
  }
}

.content {
  h1 {
    margin: 0;
  }
}

.button {
  background: #FFFFFF;
  border: 1px solid #F2F2F2;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;;
  width: 32px;
  height: 32px;

}

.search-block {
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;

  input {
    width: 250px;
    border: none;
    padding: 12.5px;
    font-size: 16px;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;

  .drawer {
    position: absolute;
    width: 420px;
    height: 100%;
    right: 0;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);

    .items {
      flex: 1;
      overflow-y: auto;
      margin-bottom: 40px;
    }

    h2 {
      margin: 0;
      svg{
        cursor: pointer;
      }
    }

  }
}

.cartTotalBlock {
  ul {
    margin-bottom: 35px;

    li {
      display: flex;
      margin-bottom: 20px;
    }

    div {
      flex: 1;
      border-bottom: 2px dashed #eaeaea;
      position: relative;
      top: -2px;
      margin: 0 5px;
    }
  }

  .greenButton {
    position: relative;

    &:hover {
      img {
        transform: translateX(5px);
      }
    }

    img {
      position: absolute;
      right: 40px;
      top: 20px;
      transition: transform 0.12s ease-in-out;
    }
  }
}

.greenButton {
  width: 100%;
  height: 55px;
  background: #9DD558;
  border-radius: 18px;
  border: none;
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.1s ease-in-out;

  &:hover {
    background: lighten(#9DD558, 5%);
  }

  &:active {
    background: darken(#9DD558, 5%);
  }
}

.cartItem {
  border: 1px solid #eaeaea;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;

  .cartItemImg {
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 -3px;
    background-repeat: no-repeat;
    margin-right: 20px;
  }

  p {
    font-size: 16px;
    margin: 0;
  }

  b {
    font-size: 14px;
  }

  svg {
    width: 32px;
    height: 32px;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}


